.git
state
artifacts
core/target
**/__pycache__

state-v2

state-v3/

state-site/
state-remote/
state-enroll/

clients/android/.gradle/
clients/android/local.properties
clients/android/**/build/
clients/android/.android/
clients/desktop/build/
clients/desktop/dist/
clients/desktop/*.spec

state-client-build/
clients/windows/**/bin/
clients/windows/**/obj/
clients/windows/build/
clients/windows/dist/

state-product/
